@charset "UTF-8";
/*==============================================================================

kojiyamauchi.com Main CSS.

==============================================================================*/
/* Common Parts */
.displayPC {
  display: block;
}

.displaySP {
  display: none;
}

/* Common Parts End. */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#pageTop {
  display: inline-block;
  width: 6.5em;
  float: right;
  cursor: pointer;
  margin: 50px 0 0;
  position: relative;
  text-align: right;
}

#pageTop:hover {
  color: #cc0000;
}

#pageTop #pageTopRocket {
  position: absolute;
}

#pageTop span.fa-rocket {
  font-size: 2em;
  margin: 0 0.25% 0 0;
  vertical-align: middle;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

#pageTop img {
  width: 2em;
  position: absolute;
  top: 28px;
  left: 0;
  height: 0;
  opacity: 0;
}

#pageTop p {
  font-size: 1em;
  font-weight: bold;
}

#pageTop.blogFastHuntPageTop {
  margin: 50px 0 -60px;
}

/*#pageTop.webSiteCreationPageTop {
    margin: 50px 0 -50px;
}*/
::-moz-selection {
  background: RGBa(204, 0, 0, 0.1);
}

::selection {
  background: RGBa(204, 0, 0, 0.1);
}

::-moz-selection {
  background: RGBa(204, 0, 0, 0.1);
}

/*==============================================================================

About Us Page CSS.

==============================================================================*/
body.page-template-about {
  /* div#waitingForContactUs {
  position: relative;
  display: inline-block;
  left: 165px;
  bottom: 5px;
  z-index: 1000;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
div#waitingForContactUs.scaleAnimation {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#waitingForContactUs p {
  font-size: 2.5em;
  font-family: 'Chewy', cursive;
  color: #fff;
  text-align: center;
  line-height: 1;
  background: #000;
  display: inline-block;
  margin: 0;
  padding: 30px;
  border-radius: 100%;
}
#waitingForContactUs:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  margin-left: 0;
  display: block;
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 0 50px 0 50px;
  z-index: -1;
}
#waitingForContactUs:after {
  content: "";
  position: absolute;
  top: -25px;
  left: 18px;
  margin-left: 0;
  display: block;
  width: 50px;
  height: 50px;
  background: #f8f8f6;
  border-radius: 0 50px 0 50px;
  z-index: -1;
  -webkit-transform: rotate(-26deg);
  -moz-transform: rotate(-26deg);
  -ms-transform: rotate(-26deg);
  -o-transform: rotate(-26deg);
  transform: rotate(-26deg);
} */
}

body.page-template-about main#about {
  padding: 0 0 20px;
}

body.page-template-about p {
  text-align: left;
}

body.page-template-about #name {
  font-size: 24px;
}

body.page-template-about #ruby {
  font-size: 14px;
}

body.page-template-about span.lineThrough {
  text-decoration: line-through;
}

body.page-template-about .hentry {
  margin-bottom: 0;
}

body.page-template-about #primary {
  padding-bottom: 0;
}

@media (max-width: 768px) {
  body.page-template-about div#waitingForContactUs {
    left: 50%;
    bottom: 0;
    margin-left: -145px;
  }
}

@media screen and (max-width: 413px) {
  body.page-template-about .entry-title {
    font-size: 30px;
  }
}

/*==============================================================================

Web Site Creation Portfolio Page CSS.

==============================================================================*/
body.page-template-webPortfolio #loadingWrap {
  /*display:;*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  overflow: hidden;
  background: #fff;
}

body.page-template-webPortfolio #loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 150px;
  height: 100px;
}

body.page-template-webPortfolio #loading p {
  text-align: center;
  font-size: 1.2em;
}

body.page-template-webPortfolio #loading p#signGo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

body.page-template-webPortfolio #loading p span.fa {
  font-size: 3em;
  margin-bottom: 5px;
}

body.page-template-webPortfolio #loading p span.fa-car {
  -webkit-transform: scale(1) translate(0, 0);
  -ms-transform: scale(1) translate(0, 0);
  transform: scale(1) translate(0, 0);
  -webkit-transition: all 2.35s cubic-bezier(0.19, 1, 0.22, 1) 0.45s;
  transition: all 2.35s cubic-bezier(0.19, 1, 0.22, 1) 0.45s;
  color: #402012;
}

body.page-template-webPortfolio #loading p span.fa-car.scale {
  -webkit-transform: scale(1.85) translate(0, -12%);
  -ms-transform: scale(1.85) translate(0, -12%);
  transform: scale(1.85) translate(0, -12%);
  -webkit-transition: all 2.35s cubic-bezier(0.19, 1, 0.22, 1) 0.45s;
  transition: all 2.35s cubic-bezier(0.19, 1, 0.22, 1) 0.45s;
}

body.page-template-webPortfolio .left {
  float: left;
  width: 30%;
}

body.page-template-webPortfolio .center {
  float: left;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
}

body.page-template-webPortfolio .right {
  float: right;
  width: 30%;
}

body.page-template-webPortfolio .center img,
body.page-template-webPortfolio .left img,
body.page-template-webPortfolio .right img {
  width: 100%;
  vertical-align: bottom;
}

body.page-template-webPortfolio h3 {
  margin: 7px 0 0.25em;
}

body.page-template-webPortfolio h3 span {
  font-size: 1.15rem;
}

body.page-template-webPortfolio p {
  font-size: 14px;
  line-height: 150%;
}

body.page-template-webPortfolio .myWork {
  color: #fff;
  background: #bdbdbd;
  display: inline-block;
  margin: 2px 0;
  padding: 0 7px;
  border-radius: 5px;
}

body.page-template-webPortfolio .clearFix {
  clear: both;
  height: 10px;
}

body.page-template-webPortfolio .unpublishedNoImageWrap {
  position: relative;
  overflow: hidden;
}

body.page-template-webPortfolio .unpublished {
  position: absolute;
  top: -100%;
  z-index: 10;
}

body.page-template-webPortfolio .deskTop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

body.page-template-webPortfolio #gelatoIncIMGWrap,
body.page-template-webPortfolio #primeMarcheIMGWrap {
  position: relative;
}

body.page-template-webPortfolio .gelatoIncIMG1,
body.page-template-webPortfolio .primeMarcheIMG1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

body.page-template-webPortfolio .gelatoIncIMG2,
body.page-template-webPortfolio .primeMarcheIMG2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

body.page-template-webPortfolio #fastHuntIMGWrap {
  position: relative;
}

body.page-template-webPortfolio .fastHuntIMG1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

body.page-template-webPortfolio .fastHuntIMG2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
}

body.page-template-webPortfolio .fastHuntIMG3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
}

body.page-template-webPortfolio .fastHuntIMG4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

@media screen and (max-width: 960px) {
  body.page-template-webPortfolio .left {
    float: none;
    width: 90%;
    margin: 20px auto 0;
  }
  body.page-template-webPortfolio .center {
    float: none;
    width: 90%;
    margin: 20px auto 0;
  }
  body.page-template-webPortfolio .right {
    float: none;
    width: 90%;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 413px) {
  body.page-template-webPortfolio .entry-title {
    font-size: 30px;
  }
}

/*==============================================================================

Alternative Portfolio Page CSS.

==============================================================================*/
.page-template-ds-gallery-masonry-template-php .albums-thumbnails {
  margin: 0 auto;
}

@media screen and (max-width: 413px) {
  .albums-thumbnails img {
    width: 100%;
  }
}

/*==============================================================================

Single Post Page CSS.

==============================================================================*/
body.single-post #content {
  text-align: center;
  margin: 20px 0 0;
}

body.single-post .footer-copy p {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  text-align: center;
  text-indent: 16em;
}

@media screen and (max-width: 768px) {
  body.single-post .displayPC {
    display: none;
  }
  body.single-post .displaySP {
    display: block;
  }
}

body.single-post:not(.collapsed-layout) .translateTop10 {
  -webkit-transform: translate(0, -10%);
  -ms-transform: translate(0, -10%);
  transform: translate(0, -10%);
}

body.single-post:not(.collapsed-layout) .translateTop15 {
  -webkit-transform: translate(0, -15%);
  -ms-transform: translate(0, -15%);
  transform: translate(0, -15%);
}

/*==============================================================================

SmartPhone & Tablet Header & Footer LayOut CSS.

==============================================================================*/
body.collapsed-layout .main-header {
  z-index: 100;
}

body.collapsed-layout .footer-copy p {
  text-indent: 0;
  text-align: center;
  margin: 0 auto;
}
